---
interface LayoutProps {
  title?: string
}

const {title} = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" type="image/ico" href="/src/assets/favicon.ico" />
    <title>
      Monarch{title ? ` | ${title}` : ''}
    </title>
  </head>
  <body>
    <slot/>
  </body>
</html>